body {
    background-color: white;
    color: black;

  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

  body .whatsapp-float{
    background-color: white !important; 
  }

  .st{
    
    transform: transx;

  }
  .arrow{
    background-color: white !important;
  }

  ul {

    color:w;

  }

  .helo{
    color: white;
  }

  .drusts{
    color: white;
  }
 

.bhai{
  color: black;
}








  