/* * {
   margin: 0px;
   padding: 0px;
  } */

  .navbar >.container >a{
    font-size: 30px; 
  }

  .contact-us >p>span{

    font-size: 1rem;
    /* display: inline-block; */

  }

  .contact-us{
    font-size: small;
  }


  .setting > ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .setting > ul > li{
    display: inline-block;

    padding: 5px;
  }

 


  .img > img{

    max-width: 100%;
    height: auto;

  }

  .btn {

    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);

  }

  .drust{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline;
  }

  .drust li{

    display: inline-block;

    padding: 0px 25px 10px 0px;
    font-size: 12px;
    font-weight: 700;
    /* line-height: 1.66; */

  }


  .drust li a{
    text-decoration: none;
  }

  /* .tex{
    color: grey;
    
  }

  .the{
    overflow: hidden;
  }

  .portfolio-image {
     transition: all 0.4s ease;
  }

 .the:hover .portfolio-image img{
  

  transform: scale(1.1);
  
 } */


 .portfolio-box{
  overflow: hidden;
  
  
 }

 .portfolio-box img{
  transition: all 0.4s ease;
 }


 .portfolio-box:hover img{
  transform: scale(1.2);
 }

 .cant{
  text-align: right;
 }

 .whats{
  width:50px ;
  position: fixed;
  bottom: 150px;
  right: 25px;
  
 }


 .arrow{

  width:50px ;
  height:50px ;
  border-radius: 50% / 25%;
  box-sizing: border-box;
  position: fixed;
  bottom: 40px;
  right: 20px;
  

  box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.2);
  

 }

 .inline li{

  display: inline-block;
  
 }

 .inline li>a >box-icon{
  width: 15px;
 }

  


  @media only screen and (max-width: 1200px) {

  }


  @media only screen and (max-width: 992px) {

    .gaib{
      display: none;
    }

    .cant{
      text-align: center;
    }

    .inline{
      padding: 2rem;
    }

  }



  @media only screen and (max-width: 768px) {

    .gaib-1{
      display: none;
    }
    .cen{

      text-align: center;

    }

    .inline{
      padding: 2rem;
    }


  }



  @media only screen and (max-width: 576px) {

    .jus{
      text-align: center;
    }
    .drm{
      text-align: center;
    }

    /* .center{
      justify-content: center;
    } */

  }




  @media only screen and (max-width: 400px) {

  }
 
  